.btn-platzi {
    background-color: #97c93e !important;
    color: white;
}

    .btn-platzi:hover {
        background-color: #59791e !important;
    }

.text-platzi {
    color: #97c93e !important;
}

#HorayFecha {
    background-color: #343a40 !important;
    color:white;
}

#HorayFecha img {
    max-width: 100%;
}

#BarraDeNavegacion img {
    width: 80px;
}
/*El Atributo objet-fit Mantiente la proporcion de la imagen, estirandola y recortandola en pantalla*/
#main .carousel-inner img {
    max-height: 75vh;
    object-fit: cover;
    filter: grayscale(60%);
}

#carousel {
    position: relative;
}

    #carousel .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        color: white;
    }

        #carousel .overlay .container,
        #carousel .overlay .row {
            height: 100%;
        }

#PieDePagina {
    color: white;
    background-color: #1c3643;
}

    #PieDePagina a {
        color: white;
    }
